@media (max-width: 1400px) {
  .bloke-1 {
    max-width: 380px;
  }
  .contenido-segundario {
    max-height: 300px;
    font-size: 15px;
  }
  .anim_span {
    font-size: 14px;
    color: #fff;
  }
}

@media (max-width: 800px) {
  .nav-menu {
    display: none;
  }
  .toggle-btn {
    display: block;
    font-size: 35px;
  }
  .toggle-btn .fa-solid {
    color: #000;
  }
  .dropdown-menu {
    display: block;
  }
  .contenido-noticias {
    margin-bottom: 57rem;
  }
  .noticias-recientes {
    flex-direction: column;
  }
  .bloke-1 {
    width: 100%;
    max-width: 35rem;
    font-size: 1.2rem;
  }
  .bloke-1 h3 {
    margin-bottom: 4rem;
  }
  .fecha{
    padding-top: 0.3rem;
  }
  .fecha span{
   margin-bottom: 0.2rem; 
  }
  .contenido-segundario {
    justify-content: center;
    text-align: center; 
    padding-right: 5.7rem;
    padding-left: 5.7rem;
    padding-bottom: 0;
    position: relative;
    background-color: rgba(0, 0, 0);
  }
  .contenido-segundario::before{
    position: absolute;
    content: "";
    inset: 0; 
    background-color: rgba(0, 0, 0,.33);
  }
  .contenido-segundario span{
    font-size: 1.1rem;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 4;
  }
  .contenido-segundario span h3{
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
